/* General styles */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-main-color);
  font-size: 14px;
  line-height: 1.2;
  background-color: var(--main-background-colors);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

:root {
  --main-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --main-button-color: #212121;
  --hover-button-color: #2196f3;
  --secondary-hover-button-color: #188ce8;
  --secondary-text-color: #757575;
  --secondary-main-text-color: #ffffff;
  --text-main-color: #000000;
  --header-outline: #ececec;
  --examples-outline: #eeeeee;
  --shadow-main-color: rgba(0, 0, 0, 0.15);
  --shadow-secondary-color: rgba(0, 0, 0, 0.25);
  --team-shadow-main-color: rgba(0, 0, 0, 0.12);
  --team-shadow-secondary-color: rgba(0, 0, 0, 0.2);
  --team-box-shadow: rgba(0, 0, 0, 0.14);
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --buttons-shadow-main-color: rgba(0, 0, 0, 0.1);
  --buttons-shadow-secondary-color: rgba(0, 0, 0, 0.08);
  --svg-button-color: #afb1b8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */

.page-header {
  display: flex;
  align-items: center;
}

.main-header {
  outline: var(--header-outline) solid 1px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-button-color);
  padding-top: 24.5px;
  padding-bottom: 24.5px;
}

.logo .second-part {
  color: var(--text-main-color);
}

.navigation {
  display: flex;
  margin-left: 93px;
}

.navigation .item:not(:last-child) {
  margin-right: 50px;
}

.navigation .nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-button-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.navigation .nav-item:hover,
.navigation .nav-item:focus,
.navigation .nav-item.current,
.address .address-item:hover,
.address .address-item:focus,
.footer li a:hover,
.footer li a:focus {
  color: var(--hover-button-color);
}

.addresses .address-item {
  padding-top: 31.5px;
  padding-bottom: 31.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header .address {
  margin-left: auto;
}

.page-header .addresses {
  display: flex;
}

.page-header .addresses .item + .item {
  margin-left: 30px;
}

.address .address-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-style: normal;
}

/* Banner */

.banner {
  background: var(--main-background-color);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.banner .text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-main-text-color);
  max-width: 696px;
  margin: 0 auto;
}

.banner .button-item {
  width: 216px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: var(--hover-button-color);
  box-shadow: 0px 4px 4px var(--shadow-main-color);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  margin: 30px auto 0;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-main-text-color);
  cursor: pointer;
}

.banner .button-item:hover,
.banner .button-item:focus {
  background: var(--secondary-hover-button-color);
  text-shadow: none;
}

/* Advantages */

.advantages .slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}

.main-advantages {
  display: flex;
  justify-content: space-between;
}

.main-advantages .item {
  width: 270px;
}

.main-advantages .item + .item {
  margin-left: 30px;
}

.advantages .slogan-item {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-button-color);
}

.advantages .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

/* Boxes */

.boxes {
  padding-top: 0;
}

.boxes .slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}

.main-boxes {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.main-boxes .item {
  width: 370px;
}

.main-boxes .item + .item {
  margin-left: 30px;
}

/* Team */

.team {
  background: var(--secondary-background-color);
}

.team .our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}

.main-team {
  display: flex;
  margin-top: 50px;
}

.main-team .item + .item {
  margin-left: 30px;
}

.team .item {
  background: var(--secondary-main-text-color);
  box-shadow: 0px 1px 3px var(--team-shadow-main-color),
    0px 1px 1px var(--team-box-shadow),
    0px 2px 1px var(--team-shadow-secondary-color);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team .name {
  font-weight: 500;
  font-size: 16px;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
}

.team .info {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team .description {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 10px;
}

/* Footer */

.footer {
  background: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-button-color);
  display: block;
  margin-bottom: 20px;
}

.footer-logo .second-part {
  color: var(--secondary-main-text-color);
}

.footer .item + .item {
  margin-top: 9px;
}

.footer .coordinates {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-main-text-color);
}

.footer .contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  text-decoration: none;
  font-style: normal;
}

/* Portfolio */

.main-buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.main-buttons .button {
  background: var(--secondary-background-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-button-color);
  cursor: pointer;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border: none;
}

.main-buttons .item + .item {
  margin-left: 8px;
}

.main-buttons .button:hover,
.main-buttons .button:focus,
.examples .button.current {
  color: var(--secondary-main-text-color);
  background: var(--hover-button-color);
  box-shadow: 0px 3px 1px var(--buttons-shadow-main-color),
    0px 1px 2px var(--buttons-shadow-secondary-color),
    0px 2px 2px var(--team-shadow-main-color);
  border-radius: 4px;
}

.main-examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main-examples .item {
  width: 370px;
}

.main-examples .item-text {
  border-bottom: 1px solid var(--examples-outline);
  border-left: 1px solid var(--examples-outline);
  border-right: 1px solid var(--examples-outline);
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}

.examples .name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-button-color);
}

.examples .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* SVG */

/* header SVG */

.addresses .icon {
  margin-right: 10px;
  fill: currentColor;
}

/* advantages SVG */

.main-advantages .icon-block {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}

/* team SVG */

.svg-icons {
  padding-bottom: 30px;
}

.svg-items {
  display: flex;
  list-style: none;
  margin-left: 32px;
  max-width: 206px;
}

.svg-icons .svg-item:not(:last-child) {
  margin-right: 10px;
}

.svg-items .link {
  border-radius: 50%;
  color: var(--svg-button-color);
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: center;
}

.svg-items .icon {
  fill: currentColor;
}

.svg-items .link:hover,
.svg-items .link:focus {
  background-color: var(--hover-button-color);
  color: var(--secondary-main-text-color);
}
